@font-face {
  font-family: ConcertOne-Regular;
  src: url('../fonts/ConcertOne-Regular.ttf');
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* Default Font Size */
html {
  font-size: 16px;
}

body {
  font-family: 'ConcertOne-Regular';
  margin: 0;
  padding: 0;
  color: #FCFCFC;
  background-color: #2F2F2F;
}

h1, h3 {
  font-size: 1.8rem;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }

.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }

.m1 { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }

input[type="checkbox"], input[type="radio"] {
  display: none;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 80%;
}

.button-grid.buttons {
  grid-template-columns: 1fr 1fr;
}

.button-grid label, .categories label span, .button-grid a, .categories a span {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.button-grid label, .button-grid a {
  background-color: #7C7C7C;
  border-radius: 5px;
  margin: 5px;
}

.button-grid.categories label {
  background-color: #7C7C7C;
  border-radius: 0px;
  margin: 0px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
}

.button-grid.categories div:last-child label {
  margin-bottom: 0;
}

.button-grid.categories {
  border-radius: 5px;
  overflow: hidden;
}

.button-grid.modes label, .button-grid.modes a {
  display: block;
  text-align: center;
  padding: 15px 0px;
  font-size: 1.2rem;
}

.categories label span {
  display: block;
  margin-right: 10px;
  font-size: 1.2rem;
  padding: 10px 0;
}

.categories label span:first-child {
  background-color: #969696;
  width: 40px;
  text-align: center;
}

.button-grid>div>input:checked~label, a:hover {
  background-color: #1FFFA9;
}

.button-grid>div>input:checked~label>span:first-child {
  background-color: #8EFED3;
}

.view {
  height: 100vh;
  display: flex;
  place-items: center;
  >div {
    width: 100%;
  }
}

.button {
  background-color: #969696;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 5px;
  padding: 12px 20px 12px 20px;
  color: inherit;
  margin: 20px 8px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .button-grid {
    grid-template-columns: 1fr 1fr;
  }

  .button-grid.special, .button-grid.categories {
    grid-template-columns: 1fr;
  }

  .button-grid {
    width: 95%;
  }
}
